<!-- Modal -->
<div class="modal fade" id="mailsendpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mail gönder</h4>
            </div>
          
            <div class="modal-body">
              
                    <input type="email" class="form-control" id="email" placeholder="email adresi giriniz..." required value="" />
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="javascript:sendmail()"  class="btn btn-primary">Gönder</a>
            </div>
           


        </div>
    </div>
</div>

<script>
    function sendmail() {

       var email = $("#email").val();
       var carikod = $("#CariKod").val();
       var ilktarih = $("#startDate").val();
       var sontarih = $("#endDate").val();
       if (carikod.length==0) {
           alert("Cari kod seçiniz");
       }
       else {
           console.log(email, carikod, ilktarih, sontarih);
           var objedata = {
               email: email,
               carikod: carikod,
               ilktarih: ilktarih,
               sontarih: sontarih
           };
           $("#mailsendpopup").modal("hide");
           showPage();
           $.ajax({
               type: "Post",
               url: "/Report/SendMail",
               data: objedata,
               dataType: "json",
               success: function (data) {
                   $("#mailsendpopup").modal("hide");
                   alert(data);
                   offPage();
               },
               error: function () {
                   offPage();
               }

           });
       }
   

    }
</script>